@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
    font-family: "Montserrat" sans-serif;
    background-color: #D15E66;
    margin: 0;
}

.background{
    background-image: url(img/Fit-bg-web.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

nav{
    
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.20em;
    padding-left: 1em;
}


.instagram {
    align-self: center;
}